// COLOURS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-gradient: linear-gradient(to right bottom, #7ed56f, #28b485);
$color-primary-gradient-trans: linear-gradient(to right bottom, rgba(126, 213, 111, .8), rgba(40, 180, 133, .8));

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-gradient: linear-gradient(to right bottom, #ffb900, #ff7730);
$color-secondary-gradient-trans: linear-gradient(to right bottom, rgba(255, 187, 0, .8), rgba(255, 120, 48, .8));


$color-tertiary-light: #2998ff;
$color-tertiary-dark:#5643fa;
$color-tertiary-gradient: linear-gradient(to right bottom, #2998ff, #5643fa);
$color-tertiary-gradient-trans: linear-gradient(to right bottom, rgba(41, 152, 255, .8), rgba(85, 67, 250, .8));


$color-grey-light-1: #f7f7f7;
$color-grey-medium: #999;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-shadow-light: rgba(#000, .3);
$color-shadow-medium: rgba(#000, .5);
$color-shadow-strong: rgba(#000, .7);

// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;