body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;

    &--main {
        display: block;
        letter-spacing: 3.6rem;
        margin-right: -3.6rem;
        font-weight: 400;
        font-size: 5.5rem;
        animation: moveInLeft 1s ease-out;

        @include respond (phone) {
            letter-spacing: 1rem;
            margin-right: -1rem;
            font-size: 4.5rem;
        }
    }
    
    &--sub {
        display: block;
        font-weight: 700;
        letter-spacing: 1.3rem;
        margin-right: -1.3rem;
        font-size: 2.2rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
            margin-right: -.5rem;
            font-size: 1.8rem;
        }
    }
}

.heading-secondary {
    background-image: $color-primary-gradient;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 3px;
    color: transparent;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(1deg) skewX(2deg) scale(1.1);
        text-shadow: .5rem 1rem 3rem $color-shadow-light;
    }
}

.heading-tertiary {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    font-weight: 300;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}